@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

@keyframes bordaBotao
{
    from
    {
        background-position: 0%;
    }
    to
    {
        background-position: 300%;
    }
}

:root
{
    --cor1: #FFF9F2;
    --cor2: #72863d;

    --font1: 'Dancing Script', 'serif';
    --font2: 'pacifico', serif;
}

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: var(--cor1);
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

/*  HEADER  */
header
{
    position: relative;

    display: flex;
    justify-content: center;
}

/*  IMAGENS HEADER    */
#container-header
{
    height: 160px;
    width: 100vw;

    display: flex;
    justify-content: space-between;
}
#container-header > div
{   min-width: 150px; }

#folha2
{
    position: relative;
    bottom: 80px; 
}
#pincelada-header
{
    position: relative;
    height: 300px;
    right: 90px;
    bottom: 60px;
}

/*  TEXTO HEADER  */
header > p
{
    position: absolute;
    top: 100px;
    font-family: var(--font1);
    font-size: 22px;
}

/*  IMAGEM MAIN   */
main img
{
    position: relative;
    left: 4px;
    width: 270px;
    height: 210px;
}
#container-midia-main
{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*  NOME MAIN */
#container-midia-main > p
{
    position: absolute;  
    font-family: var(--font1);
    font-size: 34px;
}

/*  INFORMACOES MAIN  */
#container-informacoes
{
    text-align: center;
    padding-block: 20px;
    font-family: var(--font2);
}

/*  BOTOES MAIN   */
#container-botoes
{
    display: flex;
    justify-content: space-evenly;

    margin-top: 10px;
}
.botoes
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 85px;
    height: 35px;
    background-color: var(--cor2);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--cor1);
}
.botoes::before, .botoes::after
{
    content: "";
    position: absolute;
    border-radius: 8px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background: linear-gradient(45deg, var(--cor1), var(--cor2));
    background-size: 300%;
    z-index: -1;

    animation: bordaBotao 4s linear infinite;
}
.botoes::after
{
    filter: blur(5px);
}
a
{
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--font2);
}

/*  FOOTER    */
footer
{
    height: 200px;

    display: flex;
    justify-content: space-between;
}
footer > div
{
    min-width: 150px;
}

#folha1
{
    position: relative;
    right: 90px;
    bottom: 25px;
    z-index: -2;
}
#pincelada-footer
{
    position: relative;
    bottom: 130px;
    right: 25px;
    z-index: -2;
}