@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #FFF9F1;
}

header
{
    position: relative;
    height: 200px;
}
#folha2
{
    z-index: 1;
    position: absolute;
    left: 100px;
    bottom: 95px;
}
#pincelada-header
{
    position: absolute;
    right: 100px;
    bottom: 2px;
}