@charset "UTF-8";

@media only screen and (min-width: 375px)
{
    #folha2
    {
        bottom: 30px;
        right: -30px;
    }
    #meio > p
    {
        font-size: 40px;
    }
    main img
    {
        width: 350px;
        height: 280px;
    }
    #container-midia-main p
    {
        font-size: 52px;
    }
    #container-informacoes
    {
        font-size: 26px;
    }
    #container-botoes
    {
        margin-top: 20px;
    }
    .botoes
    {
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
    #pincelada-footer
    {
        left: 30px;
    }
    #folha1
    {
        right: 20px;
        bottom: 10px;
    }
}

@media only screen and (min-width: 450px)
{
    #meio > p
    {
        font-size: 38px;
    }
    main img
    {
        width: 400px;
        height: 340px;
    }
    #container-midia-main p
    {
        font-size: 59px;
    }
    #container-informacoes
    {
        font-size: 28px;
    }
    .botoes
    {
        width: 130px;
        height: 50px;
        font-size: 22px;
    }
}

@media only screen and (min-width: 600px)
{
    #folha2
    {
        left: 50px;
        bottom: 100px;
        width: 380px;
    }
    #pincelada-header
    {
        width: 380px;
        bottom: 30px;
        right: 100px;
    }
    #meio > p
    {
        font-size: 48px;
    }
    #container-midia-main > img
    {
        width: 500px;
        height: 420px;
    }
    #container-midia-main p
    {
        font-size: 68px;
    }
    #container-informacoes
    {
        font-size: 30px;
        padding-block: 25px;
    }
    .botoes
    {
        width: 180px;
        height: 65px;
        font-size: 30px;
        margin-top: 50px;
    }
    #pincelada-footer
    {
        left: 70px;
        bottom: 190px;
        width: 350px;
    }
    #folha1
    {
        right: 50px;
        width: 380px;
    }
}

@media only screen and (min-width: 768px)
{
    #folha2
    {
        left: -80px;
        width: 500px;
        height: 300px;
    }
    #pincelada-header
    {
        bottom: 200px;
        right: 200px;
        width: 600px;
        height: 700px;
    }
    #meio > p
    {
        font-size: 78px;
    }
    #container-midia-main p
    {
        font-size: 98px;
    }
    #container-midia-main > img
    {
        width: 690px;
        height: 590px;
    }
    #container-informacoes
    {
        font-size: 46px;
        padding-block: 0px;
        padding-bottom: 20px;
    }
    .botoes
    {
        font-size: 36px;
        width: 250px;
        height: 80px;
    }
    #pincelada-footer
    {
        left: 20px;
        bottom: 300px;
        width: 700px;
        height: 800px;
    }
    #folha1
    {
        width: 500px;
        height: 300px;
    }
}

@media only screen and (min-width: 992px)
{
    
}